## Mock data taken from Kaggle
#### There are two data files: GME_stock.csv which contains the stock price the other file is also from Kaggle which contains "positive" and "negative" sentiments. I thought this would be a good data to do some practice run.

In [25]:
# Initial imports
import pandas as pd
from sklearn.cluster import KMeans
import plotly.express as px
import hvplot.pandas
import numpy as np

In [26]:
# Load gamestop data
file_path = "Mock_data/GME_stock.csv"
df_GME_price = pd.read_csv(file_path)
df_GME_price.head(10)

,date,open_price,high_price,low_price,close_price,volume,adjclose_price
0,2021-01-28,265.000000,483.000000,112.250000,193.600006,58815800.0,193.600006
1,2021-01-27,354.829987,380.000000,249.000000,347.510010,93396700.0,347.510010
2,2021-01-26,88.559998,150.000000,80.199997,147.979996,178588000.0,147.979996
3,2021-01-25,96.730003,159.179993,61.130001,76.790001,177874000.0,76.790001
4,2021-01-22,42.590000,76.760002,42.320000,65.010002,196784300.0,65.010002
5,2021-01-21,39.230000,44.750000,37.000000,43.029999,57079800.0,43.029999
6,2021-01-20,37.369999,41.189999,36.060001,39.119999,33471800.0,39.119999
7,2021-01-19,41.549999,45.520000,36.639999,39.360001,74721900.0,39.360001
8,2021-01-15,38.490002,40.750000,34.009998,35.500000,46752200.0,35.500000
9,2021-01-14,38.090000,43.060001,33.049999,39.910000,93717400.0,39.910000

In [27]:
# Check data types
df_GME_price.dtypes

date               object
open_price        float64
high_price        float64
low_price         float64
close_price       float64
volume            float64
adjclose_price    float64
dtype: object

In [28]:
# Load Reddit data
file_path1 = "Mock_data/GME sentiment analysis reddit.csv"
df_reddit = pd.read_csv(file_path1)
df_reddit.head()

,Unnamed: 0,title,body,timestamp,subjectivity,polarity,analysis
0,0,NEW SEC FILING FOR GME! CAN SOMEONE LESS RETAR...,NaN,28-01-2021 21:28,0.480303,-0.238826,Negative
1,1,"Not to distract from GME, just thought our AMC...",NaN,28-01-2021 21:26,0.250000,0.250000,Positive
2,2,Currently Holding AMC and NOK - Is it retarded...,NaN,28-01-2021 21:19,0.600000,-0.400000,Negative
3,3,GME Premarket ???�?� Musk approved ???????????...,NaN,28-01-2021 21:17,0.000000,0.000000,Neutral
4,4,"Once you're done with GME - $AG and $SLV, the ...",You guys are champs. GME... who would have tho...,28-01-2021 21:17,0.300000,0.000000,Neutral

In [29]:
# Check data types
df_reddit.dtypes

Unnamed: 0        int64
title            object
body             object
timestamp        object
subjectivity    float64
polarity        float64
analysis         object
dtype: object

### Preprocess the data

In [30]:
# Remove the timestamp from the date of the reddit data
df_reddit["timestamp"] = pd.to_datetime(df_reddit['timestamp'], dayfirst=True)
df_reddit["new_date_column"] = df_reddit["timestamp"].dt.date
df_reddit.head()

,Unnamed: 0,title,body,timestamp,subjectivity,polarity,analysis,new_date_column
0,0,NEW SEC FILING FOR GME! CAN SOMEONE LESS RETAR...,NaN,2021-01-28 21:28:00,0.480303,-0.238826,Negative,2021-01-28
1,1,"Not to distract from GME, just thought our AMC...",NaN,2021-01-28 21:26:00,0.250000,0.250000,Positive,2021-01-28
2,2,Currently Holding AMC and NOK - Is it retarded...,NaN,2021-01-28 21:19:00,0.600000,-0.400000,Negative,2021-01-28
3,3,GME Premarket ???�?� Musk approved ???????????...,NaN,2021-01-28 21:17:00,0.000000,0.000000,Neutral,2021-01-28
4,4,"Once you're done with GME - $AG and $SLV, the ...",You guys are champs. GME... who would have tho...,2021-01-28 21:17:00,0.300000,0.000000,Neutral,2021-01-28

In [31]:
# Drop columns not needed. 
reddit_clean_df = df_reddit.drop(columns=["Unnamed: 0", "title", "body", "timestamp"], axis=True)
reddit_clean_df.head()

   subjectivity  polarity  analysis new_date_column
0      0.480303 -0.238826  Negative      2021-01-28
1      0.250000  0.250000  Positive      2021-01-28
2      0.600000 -0.400000  Negative      2021-01-28
3      0.000000  0.000000   Neutral      2021-01-28
4      0.300000  0.000000   Neutral      2021-01-28

In [32]:
df_reddit["new_date_column"].value_counts()

2021-01-29    2940
2021-02-06     619
2021-02-05     550
2021-02-03     536
2021-02-02     310
              ...
2021-04-03       3
2021-02-16       2
2021-04-04       2
2021-02-15       2
2021-04-05       2
Name: new_date_column, Length: 68, dtype: int64

In [33]:
reddit_clean_df["date"] = reddit_clean_df["new_date_column"]
reddit_clean_df1=reddit_clean_df.drop(columns=["new_date_column","analysis"])
reddit_clean_df1.head()

   subjectivity  polarity        date
0      0.480303 -0.238826  2021-01-28
1      0.250000  0.250000  2021-01-28
2      0.600000 -0.400000  2021-01-28
3      0.000000  0.000000  2021-01-28
4      0.300000  0.000000  2021-01-28

In [34]:
reddit_clean_df2 = reddit_clean_df1.groupby('date')['subjectivity','polarity'].sum()
reddit_clean_df2['date']=reddit_clean_df2.index
reddit_clean_df2 = reddit_clean_df2.reset_index(drop=True)
reddit_clean_df2

C:\Users\dfand\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

    subjectivity   polarity        date
0      65.905308   8.809233  2021-01-28
1     734.038456  72.789893  2021-01-29
2      79.178550   5.050014  2021-01-30
3      75.969506   9.969900  2021-01-31
4      66.381158   5.184502  2021-02-01
..           ...        ...         ...
63      1.722222  -0.288889  2021-04-01
64      3.094444   0.473394  2021-04-02
65      0.854167   0.715625  2021-04-03
66      0.283333   0.250000  2021-04-04
67      0.466667   0.175000  2021-04-05

[68 rows x 3 columns]

#### Exporting the Data to Mongo

In [12]:
import pymongo
import json

In [13]:
client = pymongo.MongoClient("mongodb://localhost:27017")

In [35]:
Sentiment_Mongo = reddit_clean_df2.to_dict(orient = "record")

C:\Users\dfand\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:1554: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  FutureWarning,

In [36]:
Sentiment_Mongo

[{'subjectivity': 65.90530844199998,
  'polarity': 8.80923299,
  'date': datetime.date(2021, 1, 28)},
 {'subjectivity': 734.0384556980009,
  'polarity': 72.78989312599997,
  'date': datetime.date(2021, 1, 29)},
 {'subjectivity': 79.17855008300002,
  'polarity': 5.050013679000001,
  'date': datetime.date(2021, 1, 30)},
 {'subjectivity': 75.96950636999996,
  'polarity': 9.969899514,
  'date': datetime.date(2021, 1, 31)},
 {'subjectivity': 66.38115764299997,
  'polarity': 5.184502255999998,
  'date': datetime.date(2021, 2, 1)},
 {'subjectivity': 95.6606908390001,
  'polarity': 19.768387311000005,
  'date': datetime.date(2021, 2, 2)},
 {'subjectivity': 150.26341510500006,
  'polarity': 24.998924674000016,
  'date': datetime.date(2021, 2, 3)},
 {'subjectivity': 69.467806173,
  'polarity': 5.920135521999999,
  'date': datetime.date(2021, 2, 4)},
 {'subjectivity': 151.6529247160001,
  'polarity': 15.295492016,
  'date': datetime.date(2021, 2, 5)},
 {'subjectivity': 170.45040314400003,
  'polarity': 18.805496709999996,
  'date': datetime.date(2021, 2, 6)},
 {'subjectivity': 38.84556757699998,
  'polarity': 5.988912037000002,
  'date': datetime.date(2021, 2, 7)},
 {'subjectivity': 15.661736411000003,
  'polarity': -2.3255959899999996,
  'date': datetime.date(2021, 2, 8)},
 {'subjectivity': 6.751420455,
  'polarity': 0.9202178030000001,
  'date': datetime.date(2021, 2, 9)},
 {'subjectivity': 10.992839106000002,
  'polarity': -1.051453825,
  'date': datetime.date(2021, 2, 10)},
 {'subjectivity': 3.120454545,
  'polarity': 1.109090909,
  'date': datetime.date(2021, 2, 11)},
 {'subjectivity': 2.113392857,
  'polarity': 0.3488095239999999,
  'date': datetime.date(2021, 2, 12)},
 {'subjectivity': 4.001190476,
  'polarity': 1.313690476,
  'date': datetime.date(2021, 2, 13)},
 {'subjectivity': 5.167142857,
  'polarity': -0.808809524,
  'date': datetime.date(2021, 2, 14)},
 {'subjectivity': 0.0, 'polarity': 0.0, 'date': datetime.date(2021, 2, 15)},
 {'subjectivity': 0.330357143,
  'polarity': 0.142857143,
  'date': datetime.date(2021, 2, 16)},
 {'subjectivity': 2.7720151520000003,
  'polarity': -0.45226767599999995,
  'date': datetime.date(2021, 2, 17)},
 {'subjectivity': 6.2502525250000005,
  'polarity': 0.8741792919999999,
  'date': datetime.date(2021, 2, 18)},
 {'subjectivity': 7.372123015999999,
  'polarity': 1.4306096679999998,
  'date': datetime.date(2021, 2, 19)},
 {'subjectivity': 6.13154762,
  'polarity': 2.797619047,
  'date': datetime.date(2021, 2, 20)},
 {'subjectivity': 7.379828041,
  'polarity': 0.695171958,
  'date': datetime.date(2021, 2, 21)},
 {'subjectivity': 3.577777777,
  'polarity': 0.40388888900000003,
  'date': datetime.date(2021, 2, 22)},
 {'subjectivity': 9.689484125999998,
  'polarity': 1.854428211,
  'date': datetime.date(2021, 2, 23)},
 {'subjectivity': 6.299098123999999,
  'polarity': 2.004689754,
  'date': datetime.date(2021, 2, 24)},
 {'subjectivity': 15.052149474,
  'polarity': 1.79241743,
  'date': datetime.date(2021, 2, 25)},
 {'subjectivity': 35.625805074,
  'polarity': 4.750538831999999,
  'date': datetime.date(2021, 2, 26)},
 {'subjectivity': 14.782103174000003,
  'polarity': 3.9331186870000003,
  'date': datetime.date(2021, 2, 27)},
 {'subjectivity': 4.024098124,
  'polarity': 1.5452589509999999,
  'date': datetime.date(2021, 2, 28)},
 {'subjectivity': 5.8625,
  'polarity': 1.4302777790000003,
  'date': datetime.date(2021, 3, 1)},
 {'subjectivity': 14.904539073,
  'polarity': 4.2965598289999996,
  'date': datetime.date(2021, 3, 2)},
 {'subjectivity': 26.676435184000002,
  'polarity': -2.672466932999999,
  'date': datetime.date(2021, 3, 3)},
 {'subjectivity': 17.729523809,
  'polarity': 2.0059523809999997,
  'date': datetime.date(2021, 3, 4)},
 {'subjectivity': 17.965401036,
  'polarity': 0.0576080759999999,
  'date': datetime.date(2021, 3, 5)},
 {'subjectivity': 19.115239299000006,
  'polarity': 2.6651237070000002,
  'date': datetime.date(2021, 3, 6)},
 {'subjectivity': 5.988888889,
  'polarity': 2.310221355,
  'date': datetime.date(2021, 3, 7)},
 {'subjectivity': 5.829001323,
  'polarity': 0.06008597799999996,
  'date': datetime.date(2021, 3, 8)},
 {'subjectivity': 19.49638889,
  'polarity': 2.186666667,
  'date': datetime.date(2021, 3, 9)},
 {'subjectivity': 31.925404641999986,
  'polarity': 2.388194744,
  'date': datetime.date(2021, 3, 10)},
 {'subjectivity': 33.255363036999995,
  'polarity': 5.555361435000001,
  'date': datetime.date(2021, 3, 11)},
 {'subjectivity': 16.041845237999997,
  'polarity': -0.024609996999999995,
  'date': datetime.date(2021, 3, 12)},
 {'subjectivity': 11.389006132,
  'polarity': 3.343046537,
  'date': datetime.date(2021, 3, 13)},
 {'subjectivity': 12.273602093,
  'polarity': 4.600622294999999,
  'date': datetime.date(2021, 3, 14)},
 {'subjectivity': 3.5638888890000002,
  'polarity': 1.136736111,
  'date': datetime.date(2021, 3, 15)},
 {'subjectivity': 12.393915344,
  'polarity': 3.5048325510000002,
  'date': datetime.date(2021, 3, 16)},
 {'subjectivity': 12.602164501,
  'polarity': 3.703750675,
  'date': datetime.date(2021, 3, 17)},
 {'subjectivity': 8.518542568,
  'polarity': -0.31351010300000004,
  'date': datetime.date(2021, 3, 18)},
 {'subjectivity': 7.564478115000001,
  'polarity': 2.19638047,
  'date': datetime.date(2021, 3, 19)},
 {'subjectivity': 3.1999999999999997,
  'polarity': 0.441666667,
  'date': datetime.date(2021, 3, 20)},
 {'subjectivity': 3.65,
  'polarity': 0.7125,
  'date': datetime.date(2021, 3, 21)},
 {'subjectivity': 2.276111111,
  'polarity': -0.23527777799999997,
  'date': datetime.date(2021, 3, 22)},
 {'subjectivity': 2.7319444440000002,
  'polarity': 0.9833333330000001,
  'date': datetime.date(2021, 3, 23)},
 {'subjectivity': 7.553055556,
  'polarity': -0.4568055550000002,
  'date': datetime.date(2021, 3, 24)},
 {'subjectivity': 9.669074072999999,
  'polarity': 0.8898842580000005,
  'date': datetime.date(2021, 3, 25)},
 {'subjectivity': 11.126731602000003,
  'polarity': 1.341233765,
  'date': datetime.date(2021, 3, 26)},
 {'subjectivity': 8.215399531,
  'polarity': 1.9881583689999998,
  'date': datetime.date(2021, 3, 27)},
 {'subjectivity': 2.286111111,
  'polarity': -0.22361111100000003,
  'date': datetime.date(2021, 3, 28)},
 {'subjectivity': 1.75, 'polarity': 0.3, 'date': datetime.date(2021, 3, 29)},
 {'subjectivity': 2.0,
  'polarity': 1.9500000000000002,
  'date': datetime.date(2021, 3, 30)},
 {'subjectivity': 0.5, 'polarity': 0.0, 'date': datetime.date(2021, 3, 31)},
 {'subjectivity': 1.722222222,
  'polarity': -0.28888888900000004,
  'date': datetime.date(2021, 4, 1)},
 {'subjectivity': 3.094444444,
  'polarity': 0.4733940970000001,
  'date': datetime.date(2021, 4, 2)},
 {'subjectivity': 0.8541666670000001,
  'polarity': 0.715625,
  'date': datetime.date(2021, 4, 3)},
 {'subjectivity': 0.283333333,
  'polarity': 0.25,
  'date': datetime.date(2021, 4, 4)},
 {'subjectivity': 0.46666666700000003,
  'polarity': 0.175,
  'date': datetime.date(2021, 4, 5)}]

In [16]:
db = client("Project_Gamestop")

TypeError: 'MongoClient' object is not callable

In [ ]:
print(db)

In [ ]:
db.SentGME_Data.insert_many(Sentiment_Mongo)

In [18]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [47]:
start_time = '2020-12-1'
end_time = '2021-4-30'

# Remember to input Ticker symbol in all caps
GME_df = yf.download('GME', 
                      start_time, 
                      end_time, 
                      progress=False)

GME_df.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2020-12-01  17.110001  17.400000  15.760000  15.800000  15.800000  12653900
2020-12-02  15.700000  16.680000  15.380000  16.580000  16.580000   7883400
2020-12-03  16.480000  16.639999  15.870000  16.120001  16.120001   6295000
2020-12-04  16.299999  17.290001  16.260000  16.900000  16.900000   8972700
2020-12-07  17.000000  17.500000  16.219999  16.350000  16.350000   7386300

In [48]:
GME_df.reset_index(level=0, inplace=True)
GME_df.head()

        Date       Open       High        Low      Close  Adj Close    Volume
0 2020-12-01  17.110001  17.400000  15.760000  15.800000  15.800000  12653900
1 2020-12-02  15.700000  16.680000  15.380000  16.580000  16.580000   7883400
2 2020-12-03  16.480000  16.639999  15.870000  16.120001  16.120001   6295000
3 2020-12-04  16.299999  17.290001  16.260000  16.900000  16.900000   8972700
4 2020-12-07  17.000000  17.500000  16.219999  16.350000  16.350000   7386300

In [49]:
GME_df["date"] = pd.to_datetime(GME_df['Date'])
GME_df["date"] = GME_df["date"].dt.date
GME_df=GME_df.drop(columns=["Date"])
GME_df.head()

        Open       High        Low      Close  Adj Close    Volume        date
0  17.110001  17.400000  15.760000  15.800000  15.800000  12653900  2020-12-01
1  15.700000  16.680000  15.380000  16.580000  16.580000   7883400  2020-12-02
2  16.480000  16.639999  15.870000  16.120001  16.120001   6295000  2020-12-03
3  16.299999  17.290001  16.260000  16.900000  16.900000   8972700  2020-12-04
4  17.000000  17.500000  16.219999  16.350000  16.350000   7386300  2020-12-07

In [50]:
GME_Mongo = GME_df.to_dict(orient = "record")
GME_Mongo

C:\Users\dfand\anaconda3\envs\mlenv\lib\site-packages\pandas\core\frame.py:1554: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  FutureWarning,

[{'Open': 17.110000610351562,
  'High': 17.399999618530273,
  'Low': 15.760000228881836,
  'Close': 15.800000190734863,
  'Adj Close': 15.800000190734863,
  'Volume': 12653900,
  'date': datetime.date(2020, 12, 1)},
 {'Open': 15.699999809265137,
  'High': 16.68000030517578,
  'Low': 15.380000114440918,
  'Close': 16.579999923706055,
  'Adj Close': 16.579999923706055,
  'Volume': 7883400,
  'date': datetime.date(2020, 12, 2)},
 {'Open': 16.479999542236328,
  'High': 16.639999389648438,
  'Low': 15.869999885559082,
  'Close': 16.1200008392334,
  'Adj Close': 16.1200008392334,
  'Volume': 6295000,
  'date': datetime.date(2020, 12, 3)},
 {'Open': 16.299999237060547,
  'High': 17.290000915527344,
  'Low': 16.260000228881836,
  'Close': 16.899999618530273,
  'Adj Close': 16.899999618530273,
  'Volume': 8972700,
  'date': datetime.date(2020, 12, 4)},
 {'Open': 17.0,
  'High': 17.5,
  'Low': 16.219999313354492,
  'Close': 16.350000381469727,
  'Adj Close': 16.350000381469727,
  'Volume': 7386300,
  'date': datetime.date(2020, 12, 7)},
 {'Open': 16.3700008392334,
  'High': 17.209999084472656,
  'Low': 15.930000305175781,
  'Close': 16.940000534057617,
  'Adj Close': 16.940000534057617,
  'Volume': 16120200,
  'date': datetime.date(2020, 12, 8)},
 {'Open': 13.920000076293945,
  'High': 14.729999542236328,
  'Low': 13.229999542236328,
  'Close': 13.65999984741211,
  'Adj Close': 13.65999984741211,
  'Volume': 24357900,
  'date': datetime.date(2020, 12, 9)},
 {'Open': 13.119999885559082,
  'High': 14.40999984741211,
  'Low': 13.050000190734863,
  'Close': 14.119999885559082,
  'Adj Close': 14.119999885559082,
  'Volume': 7558900,
  'date': datetime.date(2020, 12, 10)},
 {'Open': 13.90999984741211,
  'High': 14.0,
  'Low': 13.020000457763672,
  'Close': 13.3100004196167,
  'Adj Close': 13.3100004196167,
  'Volume': 7496900,
  'date': datetime.date(2020, 12, 11)},
 {'Open': 13.34000015258789,
  'High': 13.430000305175781,
  'Low': 12.140000343322754,
  'Close': 12.720000267028809,
  'Adj Close': 12.720000267028809,
  'Volume': 10007100,
  'date': datetime.date(2020, 12, 14)},
 {'Open': 12.779999732971191,
  'High': 14.020000457763672,
  'Low': 12.479999542236328,
  'Close': 13.850000381469727,
  'Adj Close': 13.850000381469727,
  'Volume': 8189800,
  'date': datetime.date(2020, 12, 15)},
 {'Open': 13.960000038146973,
  'High': 14.3100004196167,
  'Low': 13.579999923706055,
  'Close': 13.850000381469727,
  'Adj Close': 13.850000381469727,
  'Volume': 5865100,
  'date': datetime.date(2020, 12, 16)},
 {'Open': 13.960000038146973,
  'High': 14.979999542236328,
  'Low': 13.59000015258789,
  'Close': 14.829999923706055,
  'Adj Close': 14.829999923706055,
  'Volume': 8194900,
  'date': datetime.date(2020, 12, 17)},
 {'Open': 15.779999732971191,
  'High': 16.299999237060547,
  'Low': 15.180000305175781,
  'Close': 15.630000114440918,
  'Adj Close': 15.630000114440918,
  'Volume': 16618800,
  'date': datetime.date(2020, 12, 18)},
 {'Open': 15.8100004196167,
  'High': 16.350000381469727,
  'Low': 15.279999732971191,
  'Close': 15.529999732971191,
  'Adj Close': 15.529999732971191,
  'Volume': 9876100,
  'date': datetime.date(2020, 12, 21)},
 {'Open': 16.219999313354492,
  'High': 20.040000915527344,
  'Low': 16.149999618530273,
  'Close': 19.459999084472656,
  'Adj Close': 19.459999084472656,
  'Volume': 30652700,
  'date': datetime.date(2020, 12, 22)},
 {'Open': 20.170000076293945,
  'High': 22.350000381469727,
  'Low': 19.1299991607666,
  'Close': 20.56999969482422,
  'Adj Close': 20.56999969482422,
  'Volume': 25830300,
  'date': datetime.date(2020, 12, 23)},
 {'Open': 21.010000228881836,
  'High': 21.479999542236328,
  'Low': 19.950000762939453,
  'Close': 20.149999618530273,
  'Adj Close': 20.149999618530273,
  'Volume': 6262200,
  'date': datetime.date(2020, 12, 24)},
 {'Open': 21.309999465942383,
  'High': 21.969999313354492,
  'Low': 20.350000381469727,
  'Close': 20.989999771118164,
  'Adj Close': 20.989999771118164,
  'Volume': 8965900,
  'date': datetime.date(2020, 12, 28)},
 {'Open': 20.81999969482422,
  'High': 21.06999969482422,
  'Low': 18.559999465942383,
  'Close': 19.3799991607666,
  'Adj Close': 19.3799991607666,
  'Volume': 9241400,
  'date': datetime.date(2020, 12, 29)},
 {'Open': 19.3799991607666,
  'High': 20.0,
  'Low': 18.850000381469727,
  'Close': 19.260000228881836,
  'Adj Close': 19.260000228881836,
  'Volume': 5934400,
  'date': datetime.date(2020, 12, 30)},
 {'Open': 19.25,
  'High': 19.799999237060547,
  'Low': 18.799999237060547,
  'Close': 18.84000015258789,
  'Adj Close': 18.84000015258789,
  'Volume': 6922700,
  'date': datetime.date(2020, 12, 31)},
 {'Open': 19.0,
  'High': 19.100000381469727,
  'Low': 17.149999618530273,
  'Close': 17.25,
  'Adj Close': 17.25,
  'Volume': 10022500,
  'date': datetime.date(2021, 1, 4)},
 {'Open': 17.350000381469727,
  'High': 18.079999923706055,
  'Low': 17.229999542236328,
  'Close': 17.3700008392334,
  'Adj Close': 17.3700008392334,
  'Volume': 4961500,
  'date': datetime.date(2021, 1, 5)},
 {'Open': 17.34000015258789,
  'High': 18.979999542236328,
  'Low': 17.329999923706055,
  'Close': 18.360000610351562,
  'Adj Close': 18.360000610351562,
  'Volume': 6056200,
  'date': datetime.date(2021, 1, 6)},
 {'Open': 18.469999313354492,
  'High': 19.450000762939453,
  'Low': 18.020000457763672,
  'Close': 18.079999923706055,
  'Adj Close': 18.079999923706055,
  'Volume': 6129300,
  'date': datetime.date(2021, 1, 7)},
 {'Open': 18.18000030517578,
  'High': 18.299999237060547,
  'Low': 17.079999923706055,
  'Close': 17.690000534057617,
  'Adj Close': 17.690000534057617,
  'Volume': 6482000,
  'date': datetime.date(2021, 1, 8)},
 {'Open': 19.40999984741211,
  'High': 20.649999618530273,
  'Low': 19.010000228881836,
  'Close': 19.940000534057617,
  'Adj Close': 19.940000534057617,
  'Volume': 14908000,
  'date': datetime.date(2021, 1, 11)},
 {'Open': 19.959999084472656,
  'High': 20.399999618530273,
  'Low': 19.31999969482422,
  'Close': 19.950000762939453,
  'Adj Close': 19.950000762939453,
  'Volume': 7060700,
  'date': datetime.date(2021, 1, 12)},
 {'Open': 20.420000076293945,
  'High': 38.650001525878906,
  'Low': 20.030000686645508,
  'Close': 31.399999618530273,
  'Adj Close': 31.399999618530273,
  'Volume': 144501700,
  'date': datetime.date(2021, 1, 13)},
 {'Open': 38.09000015258789,
  'High': 43.060001373291016,
  'Low': 33.04999923706055,
  'Close': 39.90999984741211,
  'Adj Close': 39.90999984741211,
  'Volume': 93717400,
  'date': datetime.date(2021, 1, 14)},
 {'Open': 38.4900016784668,
  'High': 40.75,
  'Low': 34.0099983215332,
  'Close': 35.5,
  'Adj Close': 35.5,
  'Volume': 46866400,
  'date': datetime.date(2021, 1, 15)},
 {'Open': 41.54999923706055,
  'High': 45.52000045776367,
  'Low': 36.63999938964844,
  'Close': 39.36000061035156,
  'Adj Close': 39.36000061035156,
  'Volume': 74721900,
  'date': datetime.date(2021, 1, 19)},
 {'Open': 37.369998931884766,
  'High': 41.189998626708984,
  'Low': 36.060001373291016,
  'Close': 39.119998931884766,
  'Adj Close': 39.119998931884766,
  'Volume': 33471800,
  'date': datetime.date(2021, 1, 20)},
 {'Open': 39.22999954223633,
  'High': 44.75,
  'Low': 37.0,
  'Close': 43.029998779296875,
  'Adj Close': 43.029998779296875,
  'Volume': 56216900,
  'date': datetime.date(2021, 1, 21)},
 {'Open': 42.59000015258789,
  'High': 76.76000213623047,
  'Low': 42.31999969482422,
  'Close': 65.01000213623047,
  'Adj Close': 65.01000213623047,
  'Volume': 197157900,
  'date': datetime.date(2021, 1, 22)},
 {'Open': 96.7300033569336,
  'High': 159.17999267578125,
  'Low': 61.130001068115234,
  'Close': 76.79000091552734,
  'Adj Close': 76.79000091552734,
  'Volume': 177874000,
  'date': datetime.date(2021, 1, 25)},
 {'Open': 88.55999755859375,
  'High': 150.0,
  'Low': 80.19999694824219,
  'Close': 147.97999572753906,
  'Adj Close': 147.97999572753906,
  'Volume': 178588000,
  'date': datetime.date(2021, 1, 26)},
 {'Open': 354.8299865722656,
  'High': 380.0,
  'Low': 249.0,
  'Close': 347.510009765625,
  'Adj Close': 347.510009765625,
  'Volume': 93396700,
  'date': datetime.date(2021, 1, 27)},
 {'Open': 265.0,
  'High': 483.0,
  'Low': 112.25,
  'Close': 193.60000610351562,
  'Adj Close': 193.60000610351562,
  'Volume': 58815800,
  'date': datetime.date(2021, 1, 28)},
 {'Open': 379.7099914550781,
  'High': 413.9800109863281,
  'Low': 250.0,
  'Close': 325.0,
  'Adj Close': 325.0,
  'Volume': 50566100,
  'date': datetime.date(2021, 1, 29)},
 {'Open': 316.55999755859375,
  'High': 322.0,
  'Low': 212.0,
  'Close': 225.0,
  'Adj Close': 225.0,
  'Volume': 37382200,
  'date': datetime.date(2021, 2, 1)},
 {'Open': 140.75999450683594,
  'High': 158.0,
  'Low': 74.22000122070312,
  'Close': 90.0,
  'Adj Close': 90.0,
  'Volume': 78183100,
  'date': datetime.date(2021, 2, 2)},
 {'Open': 112.01000213623047,
  'High': 113.4000015258789,
  'Low': 85.25,
  'Close': 92.41000366210938,
  'Adj Close': 92.41000366210938,
  'Volume': 42698500,
  'date': datetime.date(2021, 2, 3)},
 {'Open': 91.19000244140625,
  'High': 91.5,
  'Low': 53.33000183105469,
  'Close': 53.5,
  'Adj Close': 53.5,
  'Volume': 62427300,
  'date': datetime.date(2021, 2, 4)},
 {'Open': 54.040000915527344,
  'High': 95.0,
  'Low': 51.09000015258789,
  'Close': 63.77000045776367,
  'Adj Close': 63.77000045776367,
  'Volume': 81345000,
  'date': datetime.date(2021, 2, 5)},
 {'Open': 72.41000366210938,
  'High': 72.66000366210938,
  'Low': 58.02000045776367,
  'Close': 60.0,
  'Adj Close': 60.0,
  'Volume': 25687300,
  'date': datetime.date(2021, 2, 8)},
 {'Open': 56.61000061035156,
  'High': 57.0,
  'Low': 46.52000045776367,
  'Close': 50.310001373291016,
  'Adj Close': 50.310001373291016,
  'Volume': 26843100,
  'date': datetime.date(2021, 2, 9)},
 {'Open': 50.77000045776367,
  'High': 62.83000183105469,
  'Low': 46.54999923706055,
  'Close': 51.20000076293945,
  'Adj Close': 51.20000076293945,
  'Volume': 36455000,
  'date': datetime.date(2021, 2, 10)},
 {'Open': 50.0099983215332,
  'High': 55.31999969482422,
  'Low': 48.220001220703125,
  'Close': 51.099998474121094,
  'Adj Close': 51.099998474121094,
  'Volume': 13056700,
  'date': datetime.date(2021, 2, 11)},
 {'Open': 50.75,
  'High': 55.2400016784668,
  'Low': 48.04999923706055,
  'Close': 52.400001525878906,
  'Adj Close': 52.400001525878906,
  'Volume': 14573300,
  'date': datetime.date(2021, 2, 12)},
 {'Open': 52.65999984741211,
  'High': 53.5,
  'Low': 49.040000915527344,
  'Close': 49.5099983215332,
  'Adj Close': 49.5099983215332,
  'Volume': 8175000,
  'date': datetime.date(2021, 2, 16)},
 {'Open': 49.77000045776367,
  'High': 51.189998626708984,
  'Low': 44.560001373291016,
  'Close': 45.939998626708984,
  'Adj Close': 45.939998626708984,
  'Volume': 9186800,
  'date': datetime.date(2021, 2, 17)},
 {'Open': 48.4900016784668,
  'High': 48.869998931884766,
  'Low': 40.650001525878906,
  'Close': 40.689998626708984,
  'Adj Close': 40.689998626708984,
  'Volume': 23990600,
  'date': datetime.date(2021, 2, 18)},
 {'Open': 41.279998779296875,
  'High': 43.88999938964844,
  'Low': 38.5,
  'Close': 40.59000015258789,
  'Adj Close': 40.59000015258789,
  'Volume': 14828200,
  'date': datetime.date(2021, 2, 19)},
 {'Open': 46.689998626708984,
  'High': 48.5099983215332,
  'Low': 42.400001525878906,
  'Close': 46.0,
  'Adj Close': 46.0,
  'Volume': 19476000,
  'date': datetime.date(2021, 2, 22)},
 {'Open': 44.970001220703125,
  'High': 46.22999954223633,
  'Low': 40.0,
  'Close': 44.970001220703125,
  'Adj Close': 44.970001220703125,
  'Volume': 7565200,
  'date': datetime.date(2021, 2, 23)},
 {'Open': 44.70000076293945,
  'High': 91.70999908447266,
  'Low': 44.70000076293945,
  'Close': 91.70999908447266,
  'Adj Close': 91.70999908447266,
  'Volume': 83111700,
  'date': datetime.date(2021, 2, 24)},
 {'Open': 169.55999755859375,
  'High': 184.67999267578125,
  'Low': 101.0,
  'Close': 108.7300033569336,
  'Adj Close': 108.7300033569336,
  'Volume': 150308800,
  'date': datetime.date(2021, 2, 25)},
 {'Open': 117.45999908447266,
  'High': 142.89999389648438,
  'Low': 86.0,
  'Close': 101.73999786376953,
  'Adj Close': 101.73999786376953,
  'Volume': 92194200,
  'date': datetime.date(2021, 2, 26)},
 {'Open': 104.54000091552734,
  'High': 133.99000549316406,
  'Low': 99.97000122070312,
  'Close': 120.4000015258789,
  'Adj Close': 120.4000015258789,
  'Volume': 49794000,
  'date': datetime.date(2021, 3, 1)},
 {'Open': 116.93000030517578,
  'High': 133.1999969482422,
  'Low': 112.19999694824219,
  'Close': 118.18000030517578,
  'Adj Close': 118.18000030517578,
  'Volume': 33783000,
  'date': datetime.date(2021, 3, 2)},
 {'Open': 122.51000213623047,
  'High': 127.75,
  'Low': 113.12000274658203,
  'Close': 124.18000030517578,
  'Adj Close': 124.18000030517578,
  'Volume': 19273900,
  'date': datetime.date(2021, 3, 3)},
 {'Open': 125.0,
  'High': 147.8699951171875,
  'Low': 115.30000305175781,
  'Close': 132.35000610351562,
  'Adj Close': 132.35000610351562,
  'Volume': 32606900,
  'date': datetime.date(2021, 3, 4)},
 {'Open': 128.1699981689453,
  'High': 151.52999877929688,
  'Low': 127.5,
  'Close': 137.74000549316406,
  'Adj Close': 137.74000549316406,
  'Volume': 30733700,
  'date': datetime.date(2021, 3, 5)},
 {'Open': 154.88999938964844,
  'High': 210.8699951171875,
  'Low': 146.10000610351562,
  'Close': 194.5,
  'Adj Close': 194.5,
  'Volume': 63565600,
  'date': datetime.date(2021, 3, 8)},
 {'Open': 217.7100067138672,
  'High': 249.85000610351562,
  'Low': 208.50999450683594,
  'Close': 246.89999389648438,
  'Adj Close': 246.89999389648438,
  'Volume': 39099300,
  'date': datetime.date(2021, 3, 9)},
 {'Open': 269.42999267578125,
  'High': 348.5,
  'Low': 172.0,
  'Close': 265.0,
  'Adj Close': 265.0,
  'Volume': 71570600,
  'date': datetime.date(2021, 3, 10)},
 {'Open': 241.63999938964844,
  'High': 281.5,
  'Low': 232.60000610351562,
  'Close': 260.0,
  'Adj Close': 260.0,
  'Volume': 28312500,
  'date': datetime.date(2021, 3, 11)},
 {'Open': 275.0,
  'High': 295.5,
  'Low': 262.2699890136719,
  'Close': 264.5,
  'Adj Close': 264.5,
  'Volume': 25845900,
  'date': datetime.date(2021, 3, 12)},
 {'Open': 277.5199890136719,
  'High': 283.0,
  'Low': 206.0,
  'Close': 220.13999938964844,
  'Adj Close': 220.13999938964844,
  'Volume': 24100400,
  'date': datetime.date(2021, 3, 15)},
 {'Open': 203.16000366210938,
  'High': 220.6999969482422,
  'Low': 172.35000610351562,
  'Close': 208.1699981689453,
  'Adj Close': 208.1699981689453,
  'Volume': 35422900,
  'date': datetime.date(2021, 3, 16)},
 {'Open': 217.83999633789062,
  'High': 231.47000122070312,
  'Low': 204.0,
  'Close': 209.80999755859375,
  'Adj Close': 209.80999755859375,
  'Volume': 16481600,
  'date': datetime.date(2021, 3, 17)},
 {'Open': 214.0,
  'High': 218.8800048828125,
  'Low': 195.64999389648438,
  'Close': 201.75,
  'Adj Close': 201.75,
  'Volume': 11764900,
  'date': datetime.date(2021, 3, 18)},
 {'Open': 195.72999572753906,
  'High': 227.0,
  'Low': 182.66000366210938,
  'Close': 200.27000427246094,
  'Adj Close': 200.27000427246094,
  'Volume': 24677300,
  'date': datetime.date(2021, 3, 19)},
 {'Open': 205.25999450683594,
  'High': 210.36000061035156,
  'Low': 186.1999969482422,
  'Close': 194.49000549316406,
  'Adj Close': 194.49000549316406,
  'Volume': 10061500,
  'date': datetime.date(2021, 3, 22)},
 {'Open': 197.5,
  'High': 201.75,
  'Low': 177.5500030517578,
  'Close': 181.75,
  'Adj Close': 181.75,
  'Volume': 14429100,
  'date': datetime.date(2021, 3, 23)},
 {'Open': 157.97999572753906,
  'High': 166.97000122070312,
  'Low': 118.62000274658203,
  'Close': 120.33999633789062,
  'Adj Close': 120.33999633789062,
  'Volume': 24177900,
  'date': datetime.date(2021, 3, 24)},
 {'Open': 123.48999786376953,
  'High': 187.5,
  'Low': 116.9000015258789,
  'Close': 183.75,
  'Adj Close': 183.75,
  'Volume': 50962300,
  'date': datetime.date(2021, 3, 25)},
 {'Open': 197.67999267578125,
  'High': 218.92999267578125,
  'Low': 163.25999450683594,
  'Close': 181.0,
  'Adj Close': 181.0,
  'Volume': 37430700,
  'date': datetime.date(2021, 3, 26)},
 {'Open': 180.75,
  'High': 193.9199981689453,
  'Low': 173.50999450683594,
  'Close': 181.3000030517578,
  'Adj Close': 181.3000030517578,
  'Volume': 10042200,
  'date': datetime.date(2021, 3, 29)},
 {'Open': 187.5,
  'High': 204.3000030517578,
  'Low': 182.0,
  'Close': 194.4600067138672,
  'Adj Close': 194.4600067138672,
  'Volume': 17094900,
  'date': datetime.date(2021, 3, 30)},
 {'Open': 197.5,
  'High': 199.4600067138672,
  'Low': 187.11000061035156,
  'Close': 189.82000732421875,
  'Adj Close': 189.82000732421875,
  'Volume': 8393800,
  'date': datetime.date(2021, 3, 31)},
 {'Open': 193.36000061035156,
  'High': 196.97000122070312,
  'Low': 183.60000610351562,
  'Close': 191.4499969482422,
  'Adj Close': 191.4499969482422,
  'Volume': 9334300,
  'date': datetime.date(2021, 4, 1)},
 {'Open': 171.0,
  'High': 195.0,
  'Low': 164.80999755859375,
  'Close': 186.9499969482422,
  'Adj Close': 186.9499969482422,
  'Volume': 14070500,
  'date': datetime.date(2021, 4, 5)},
 {'Open': 185.2100067138672,
  'High': 192.0,
  'Low': 183.55999755859375,
  'Close': 184.5,
  'Adj Close': 184.5,
  'Volume': 6218300,
  'date': datetime.date(2021, 4, 6)},
 {'Open': 183.22000122070312,
  'High': 184.5,
  'Low': 176.11000061035156,
  'Close': 177.97000122070312,
  'Adj Close': 177.97000122070312,
  'Volume': 4768300,
  'date': datetime.date(2021, 4, 7)},
 {'Open': 185.8800048828125,
  'High': 185.8800048828125,
  'Low': 164.3000030517578,
  'Close': 170.25999450683594,
  'Adj Close': 170.25999450683594,
  'Volume': 10047400,
  'date': datetime.date(2021, 4, 8)},
 {'Open': 169.6999969482422,
  'High': 171.5800018310547,
  'Low': 153.0,
  'Close': 158.36000061035156,
  'Adj Close': 158.36000061035156,
  'Volume': 9462400,
  'date': datetime.date(2021, 4, 9)},
 {'Open': 158.11000061035156,
  'High': 163.89999389648438,
  'Low': 135.00999450683594,
  'Close': 141.08999633789062,
  'Adj Close': 141.08999633789062,
  'Volume': 16683600,
  'date': datetime.date(2021, 4, 12)},
 {'Open': 141.8800048828125,
  'High': 145.3800048828125,
  'Low': 132.0,
  'Close': 140.99000549316406,
  'Adj Close': 140.99000549316406,
  'Volume': 6806900,
  'date': datetime.date(2021, 4, 13)},
 {'Open': 143.57000732421875,
  'High': 174.08999633789062,
  'Low': 143.0,
  'Close': 166.52999877929688,
  'Adj Close': 166.52999877929688,
  'Volume': 21138100,
  'date': datetime.date(2021, 4, 14)},
 {'Open': 163.0,
  'High': 166.25,
  'Low': 152.8000030517578,
  'Close': 156.44000244140625,
  'Adj Close': 156.44000244140625,
  'Volume': 7856800,
  'date': datetime.date(2021, 4, 15)},
 {'Open': 156.0,
  'High': 160.1999969482422,
  'Low': 151.25,
  'Close': 154.69000244140625,
  'Adj Close': 154.69000244140625,
  'Volume': 5214700,
  'date': datetime.date(2021, 4, 16)},
 {'Open': 171.8000030517578,
  'High': 175.1999969482422,
  'Low': 162.3300018310547,
  'Close': 164.3699951171875,
  'Adj Close': 164.3699951171875,
  'Volume': 10520200,
  'date': datetime.date(2021, 4, 19)},
 {'Open': 164.13999938964844,
  'High': 164.88999938964844,
  'Low': 153.36000061035156,
  'Close': 158.52999877929688,
  'Adj Close': 158.52999877929688,
  'Volume': 4658600,
  'date': datetime.date(2021, 4, 20)},
 {'Open': 158.39999389648438,
  'High': 162.97999572753906,
  'Low': 155.9199981689453,
  'Close': 158.50999450683594,
  'Adj Close': 158.50999450683594,
  'Volume': 3812800,
  'date': datetime.date(2021, 4, 21)},
 {'Open': 159.10000610351562,
  'High': 159.10000610351562,
  'Low': 146.86000061035156,
  'Close': 151.1699981689453,
  'Adj Close': 151.1699981689453,
  'Volume': 4345800,
  'date': datetime.date(2021, 4, 22)},
 {'Open': 149.0,
  'High': 153.66000366210938,
  'Low': 144.6999969482422,
  'Close': 151.17999267578125,
  'Adj Close': 151.17999267578125,
  'Volume': 4029100,
  'date': datetime.date(2021, 4, 23)},
 {'Open': 150.97999572753906,
  'High': 174.67999267578125,

In [ ]:
db.GME_Data.insert_many(GME_Mongo)