#### This analysis takes information from the article referenced by David , "In 12 minutes: Stocks Analysis with Pandas and Scikit-Learn". The website is: https://towardsdatascience.com/in-12-minutes-stocks-analysis-with-pandas-and-scikit-learn-a8d8a7b50ee7

In [1]:
# Import the initial imports
import pandas as pd
import datetime
import pandas_datareader.data as pdr
import yfinance as yf
from yahoofinancials import YahooFinancials

In [2]:
# Define Start and End date variables
start_time = datetime.datetime(2020, 1, 1)
end_time = datetime.datetime(2020, 11, 1)

#### Import the meme stocks

In [3]:
GME_df = yf.download('Mara', start_time, end_time, progress=False)
AMC_df = yf.download('AMC', start_time, end_time, progress=False)
BBBY_df = yf.download('BBBY', start_time, end_time, progress=False)

#### Import other stocks

In [4]:
EA_df = yf.download('EA', start_time, end_time, progress=False)
MARA_df = yf.download('MARA', start_time, end_time, progress=False)
SONY_df = yf.download('SONY', start_time, end_time, progress=False)

In [5]:
MSFT_df = yf.download('MSFT', start_time, end_time, progress=False)
AXP_df = yf.download('AXP', start_time, end_time, progress=False)
DIS_df = yf.download('DIS', start_time, end_time, progress=False)

#### Import the index stocks

In [7]:
VOO_df = yf.download('VOO', start_time, end_time, progress=False)
VOO_df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-02,297.290009,298.450012,296.339996,298.420013,290.068848,3142400
2020-01-03,295.220001,297.359985,295.040009,296.239990,287.949860,3247900
2020-01-06,294.420013,297.420013,294.350006,297.350006,289.028839,2777100
2020-01-07,296.820007,297.269989,296.059998,296.529999,288.231720,2251800
2020-01-08,296.709991,299.309998,296.470001,298.059998,289.718933,3719500

In [8]:
# Make a "Ticker" column for combining the stocks
GME_df["Ticker"] = "GME"
AMC_df["Ticker"] = "AMC"
BBBY_df["Ticker"] = "BBBY"
EA_df["Ticker"] = "EA"
MARA_df["Ticker"] = "MARA"
SONY_df["Ticker"] = "SONY"
MSFT_df["Ticker"] = "MSFT"
AXP_df["Ticker"] = "AXP"
DIS_df["Ticker"] = "DIS"
VOO_df["Ticker"] = "VOO"

In [9]:
stocks_all = [GME_df, AMC_df, BBBY_df, VOO_df, EA_df, MARA_df, SONY_df, MSFT_df, AXP_df, DIS_df]
combined_stocks = pd.concat(stocks_all)
combined_stocks["Net_Close"] = combined_stocks["Adj Close"] - combined_stocks["Open"]
combined_stocks["Net_High"] = combined_stocks["High"] - combined_stocks["Open"]
combined_stocks.head()

,Open,High,Low,Close,Adj Close,Volume,Ticker,Net_Close,Net_High
Date,,,,,,,,,
2020-01-02,0.88,1.08,0.88,1.05,1.05,447600,GME,0.17,0.20
2020-01-03,0.99,1.00,0.93,0.96,0.96,128000,GME,-0.03,0.01
2020-01-06,0.96,1.06,0.96,0.97,0.97,192100,GME,0.01,0.10
2020-01-07,0.98,1.12,0.98,1.09,1.09,1039100,GME,0.11,0.14
2020-01-08,1.13,1.13,0.92,0.95,0.95,487700,GME,-0.18,0.00

In [10]:
combined_stocks.to_csv("combined_stocks_all.csv")